@tailwind base;
@tailwind components;
@tailwind utilities;

#FFD6A5 #FFE9CC #FFD8A8 #FFC688 z *,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background-color: #fefefe;
}

section {
  @apply min-h-screen;
  @apply w-5/6;
  @apply mx-auto;
}

h1 {
  @apply text-4xl;
  @apply md:text-5xl;
  @apply lg:text-6xl;
  @apply font-bold;
  @apply text-center;
}
p {
  @apply text-xl;
  @apply md:text-2xl;
  @apply lg:text-3xl;
  @apply text-center;
}
.product-list.blurred .product-item:not(.hovered) {
  filter: blur(3px);
}

.primary-btn {
  @apply bg-[#FFD6A5];
  @apply text-black;
  @apply text-lg;
  @apply font-bold;
  @apply rounded-md;
  @apply w-28;
  @apply h-10;
  @apply md:w-32;
  @apply md:h-12;
  @apply lg:w-36;
  @apply lg:h-12;
  @apply shadow-lg;
  @apply border-2;
  @apply border-[#FFD6A5];
  @apply hover:bg-[#FFE9CC];
  @apply hover:scale-110;
  @apply hover:shadow-xl;
  @apply hover:-translate-y-1;
  @apply transition;
  @apply duration-300;
}
.secondary-btn {
  background-color: #fff;
  @apply text-black;
  @apply text-lg;
  @apply font-bold;
  @apply rounded-md;
  @apply w-28;
  @apply h-10;
  @apply md:w-32;
  @apply md:h-12;
  @apply lg:w-36;
  @apply lg:h-12;
  @apply shadow-lg;
  @apply border-2;
  @apply border-black;
  @apply hover:border-[#FFD6A5];
  @apply hover:scale-110;
  @apply hover:shadow-xl;
  @apply hover:-translate-y-1;

  @apply transition;
  @apply duration-300;
}
.google-btn {
  @apply bg-white;
  @apply text-lg;
  @apply font-bold;
  @apply rounded-md;
  @apply w-52;
  @apply h-12;
  @apply md:w-52;
  @apply md:h-12;
  @apply lg:w-56;
  @apply lg:h-12;
  @apply shadow-lg;
  @apply border-2;
  @apply border-gold;
  @apply hover:bg-gold;
  @apply hover:scale-110;
  @apply hover:shadow-xl;
  @apply transition;
  @apply duration-300;
}
.center-col {
  @apply flex;
  @apply flex-col;
  @apply justify-center;
  @apply items-center;
}
.center-row {
  @apply flex;
  @apply flex-row;
  @apply justify-center;
  @apply items-center;
}
.my-input {
  @apply text-lg;
  @apply font-semibold;
  @apply w-3/4;
  @apply md:w-1/2;
  @apply lg:w-5/12;
  @apply rounded-md;
  @apply p-1;
  @apply shadow-sm;
  @apply border-2;
  @apply border-gold;
  @apply focus:outline-none;
  @apply focus:ring-2;
  @apply focus:ring-gold-dark;
  @apply focus:border-gold;
  @apply focus:shadow-lg;
  @apply hover:shadow-md;
  @apply hover:border-gold;
  @apply transition;
  @apply duration-300;
  @apply mb-2;
}
.my-input:not(:placeholder-shown) {
  @apply ring-2;
  @apply ring-gold-dark;
}
label {
  @apply w-3/4;
  @apply md:w-1/2;
  @apply lg:w-5/12;
  @apply text-xl;
  @apply font-bold;

  @apply text-left;
}
.side-link {
  @apply w-full;
  @apply h-12;
  @apply flex;
  @apply flex-row;
  @apply justify-between;
  @apply items-center;
  @apply text-lg;
  @apply font-semibold;
  @apply text-[#8C5C31];
  @apply hover:bg-[#FFEBCC];
  @apply hover:scale-105;
  @apply hover:translate-x-6;
  @apply hover:-translate-y-1;
  @apply rounded-l-md;
  @apply pl-3;
  @apply transition;
  @apply duration-300;
}
